<!doctype html>
<html lang="en" ng-app="richApp">
<head>
  <meta charset="utf-8">
  <title>My HTML File</title>
  <link rel="stylesheet" href="css/lib/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/custom/main.css">
	<script src="//localhost:35729/livereload.js"></script>
  <script src="js/lib/angular.min.js"></script>
  <script src="js/controllers/appController.js"></script>
  <script src="js/controllers/phoneListController.js"></script>
</head>
<body ng-controller="PhoneListCtrl">

	Search: <input ng-model="query">

	Sort by:
	<select ng-model="orderProp">
	  <option value="name">Alphabetical</option>
	  <option value="age">Newest</option>
	</select>

	<div ng-repeat="phone in phones | filter:query | orderBy:orderProp">
		<h1>{{phone.name}}</h1>
		<p>{{phone.snippet}}</p>
    </div>
    <table>
	    <tr ng-repeat="i in [0,1,2,3,4,5]">
	    	<td ng-repeat="j in [0,1,2,3,4,5]">
	    		{{i}}+{{j}}
	    	</td>
	    </tr>
    </table>
    <button class="btn btn-danger">cinzom</button>
</body>
</html>