
<div id="title-banner">

	<div class="container">
		<div style="float: right">
			<a class="btn btn-lg btn-default" ng-href="#/register_website"><i class="fa fa-plus"></i> Add website</a>
		</div>

		<h1>Dashboard</h1>	
	</div>

</div>

<div class="container">

	<div class="row">
		<div id="websites_list_wrapper" class="col-md-3">
			<div id="websites-search-bar" class="form-group inner-addon left-addon">
				<input class="form-control" type="text" ng-model="search" placeholder="Recherche">
				<i class="fa fa-search"></i>
			</div>
			
			<ul class="bordered-list main-list clickable" ng-model="request_data">
				<li ng-repeat="website in all_websites | filter:search"  ng-click="changeWebsite(website._id)" ng-class="{active : active._id === website._id}">
					<h4>{{website.url}}</h4>
					<p>{{website.type}} | {{website.place}}</p>
				</li>
			</ul>
		</div>

		<div class="website-dashboard-wrapper col-md-9">
			<div class="website-dashboard">
				<h2>{{active.url}}</h2>
				<div class="row">

					<div class="col-md-8">

						<h3>Keywords</h3>
						<table class="table">
							<tr>
								<th class="col-xs-4">Keyword</th>
								<th class="col-xs-8">Weight</th>
							</tr>
							<tr>
								<td colspan="3">
									<form role="form" ng-submit="addKeyword()">
										<div class="input-group" style="width:100%">
											<input type="text" class="form-control" placeholder="Enter new keyword here..." ng-model="new_keyword">
											<span class="input-group-btn">
												<button class="btn btn-primary" type="submit"><i class="fa fa-plus"></i></button>
											</span>
										</div>
									</form>
								</td>
							</tr>
							<tr ng-repeat="(keyword, weight) in keywords">
								<td>{{keyword}}</td>
								<td>
									<div class="keyword_weight_bar" style="width:{{weight | normalize : website_keywords_min : website_keywords_max}}%">
										{{weight | number:2}}
									</div>
								</td>
							</tr>
						</table>
						
						<div class="ads-list-wrapper">
							<h3>Ad texts</h3>
							<ul class="ads-list bordered-list">
								<li>
									<button class="btn btn-default" ng-click="generateAd()">Generate ad</button>
									<button class="btn btn-danger" ng-click="removeAllAds()">Delete all ads</button>
								</li>
								<li ng-repeat="ad in active.ads | orderBy : '-fiability'">
									<span class="title">{{ad.title}}</span><br>
									<span class="url">www.{{active.url}}/</span><br>
									<span class="desc" ng-repeat="desc in ad.desc">{{desc}} </span><br>
									Fiability: {{ad.fiability}} | Clicks: {{ad.clicks}}
								</li>
								<li>
									<form name="addAdForm" role="form" ng-submit="addAd()" class="no-border form-inline">
										<input type="text" class="form-control title" placeholder="Title" ng-model="new_ad.title"><br>
										<span class="url">www.{{active.url}}/</span><br>
										<input type="text" class="form-control desc" placeholder="Description - first line" ng-model="new_ad.desc[0]"><br>
										<input type="text" class="form-control desc" placeholder="Description - second line" ng-model="new_ad.desc[1]"><br>
										Fiability: <input type="number" class="form-control" placeholder="0.8" ng-model="new_ad.fiability" step="0.01"> | Clicks: <input type="number" class="form-control" placeholder="0" ng-model="new_ad.clicks"><br>
										<button class="btn btn-default" type="submit">Add a new text</button>										
									</form>
								</li>
							</ul>
						</div>

					</div>

					<div class="col-md-4">
						<h3>Info</h3>
						<ul style="list-style:none; padding:0; margin:0;">
							<li><i class="fa fa-fw fa-at"></i> {{active.mail}}</li>
							<li><i class="fa fa-fw fa-map-marker"></i> {{active.place}}</li>
							<li><i class="fa fa-fw fa-key"></i> {{active._id}}</li>
						</ul>

						<h3>Nearest websites</h3>
						
						<ul class="bordered-list clickable">
							<li ng-repeat="neighbor in closest" ng-click="changeWebsite(neighbor.data._id['$id'])">
								<h4>{{neighbor.data.url}}</h4>
								<p>{{neighbor.data.type}} | {{neighbor.data.place}}</p>
							</li>
						</ul>

					</div>

				</div>


			</div>
		</div>
	</div>

</div>