
<div class="container">

	<div style="float: right">
		<a class="btn btn-default" ng-href="#/register_website"><i class="fa fa-plus"></i> Add website</a>
	</div>

	<h1>Dashboard</h1>

	<div class="row">
		<div id="websites_list_wrapper" class="col-md-4">
			<div id="websites-search-bar" class="form-group inner-addon left-addon">
				<input class="form-control" type="text" ng-model="search" placeholder="Recherche">
				<i class="fa fa-search"></i>
			</div>
			
			<ul id="websites_list" ng-model="request_data">
				<li ng-repeat="website in all_websites | filter:search"  ng-click="changeWebsite(website._id)" ng-class="{active : active._id === website._id}">
					<h4>{{website.url}}</h4>
					<p>{{website.type}} | {{website.place}}</p>
				</li>
			</ul>
		</div>

		<div id="website_dashboard_wrapper" class="col-md-8">
			<div id="website_dashboard">
				<h2>{{active.url}}</h2>
				<ul>
					<li><b>_id: </b>{{active._id}}</li>
					<li><b>mail: </b>{{active.mail}}</li>
					<li><b>place: </b>{{active.place}}</li>
					<!-- <li><b>pages: </b>{{active.pages}}</li> -->
				</ul>

				<table class="table">
					<tr>
						<th class="col-xs-4">Keyword</th>
						<th class="col-xs-8">Weight</th>
					</tr>
					<tr>
						<td colspan="3">
							<form role="form" ng-submit="addKeyword()">
								<div class="input-group" style="width:100%">
									<input type="text" class="form-control" placeholder="Enter new keyword here..." ng-model="new_keyword">
									<span class="input-group-btn">
										<button class="btn btn-primary" type="submit"><i class="fa fa-plus"></i></button>
									</span>
								</div>
							</form>
						</td>
					</tr>
					<tr ng-repeat="(keyword, weight) in keywords">
						<td>{{keyword}}</td>
						<td>
							<div class="keyword_weight_bar" style="width:{{weight | normalize : website_keywords_min : website_keywords_max}}%">
								{{weight | number:2}}
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>

</div>