
#websites_list_wrapper {
  border: 1px solid #ddd;
  border-bottom: none;
  padding: 0;
}

#websites_list  {
  list-style: none;
  padding: 0;
  margin:0;
}

#websites_list > li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  transition: all 0.5s ease;
}
#websites_list > li:hover,
#websites_list > li:focus {
  background-color: #EEE;
}
#websites_list > li.active,
#websites_list > li.active:hover,
#websites_list > li.active:focus {
  background-color: #4592E3;
}